option_settings:
  aws:elasticbeanstalk:application:environment:
    POSTGRESQL_SERVICE_HOST: <POSTGRESQL_SERVICE_HOST>
    POSTGRESQL_PASSWORD: <POSTGRESQL_PASSWORD>
    POSTGRESQL_SERVICE_PORT: '5432'
    POSTGRESQL_DATABASE: mythidb
    POSTGRESQL_USER: <POSTGRESQL_USER> 
    LUCENE_INDEX_DIR: /opt/jboss/FILES_INDEXING

