commands:
  01setid:
    command: export AWS_ACCESS_KEY_ID=
  02setsecret:
    command: export AWS_SECRET_ACCESS_KEY=
  03setinstance:
    command: export EC2_INSTANCE_ID=$(ec2-metadata --instance-id | cut -d " " -f 2)
  04attach:
    command: aws ec2 attach-volume --volume-id vol-0f78080111321f324 --instance-id $EC2_INSTANCE_ID --device /dev/xvdf --region us-west-1
  05mkdir:
    command: sudo mkdir /home/lucene
  06mount:
    command: sudo mount /dev/xvdf /home/lucene
