commands:
  01mkdirefs:
    command: "sudo mkdir /efs"
    test: "[ ! -d /efs ]"
  02mount:
    command: "sudo mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2 fs-a99bdae0.efs.us-east-1.amazonaws.com:/ /efs"
    test: "[ ! -d /efs/lucene ]"
  03grant:
    command: "sudo chmod -R o+rw /efs/lucene"
    ignoreErrors: true

